streamlit==1.37.0
spacy==3.7.2
pdfminer.six==20221105
python-docx==0.8.11
torch>=2.1.0
sentence-transformers==2.2.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl
